---

---

<button
  id="resetButtonPersistent"
  class="border-astro-500 hover:border-astro-600 hover:bg-astro-500/20 focus-visible:ring-astro-300 mr-4 flex h-10 w-20 items-center justify-center rounded-lg border-2 transition-colors duration-300 focus-visible:ring-1 focus-visible:outline-hidden"
>
  Reset
</button>

<script>
  import { resetPersistent } from "@stores/handling-state/persistentCounterStore";

  if (document) {
    document.getElementById("resetButtonPersistent")?.addEventListener("click", () => {
      resetPersistent();
    });
  }
</script>
