---
import Layout from '../layouts/Layout.astro';
import IndependentAstroCounter from '@components/astro/IndependentAstroCounter.astro';
import IndependentSvelteCounter from '@components/svelte/IndependentSvelteCounter.svelte';
import { IndependentReactCounter } from '@components/react/IndependentReactCounter';
import IndependentVueCounter from '@components/vue/IndependentVueCounter.vue';
//
import { IndependentReactForm } from '@components/react/IndependentReactForm';
import IndependentSvelteForm from '@components/svelte/IndependentSvelteForm.svelte';
import IndependentAstroForm from '@components/astro/IndependentAstroForm.astro';
import IndependentVueForm from '@components/vue/IndependentVueForm.vue';
---

<Layout title="ISOLATED Welcome to Astro.">
  <h1>Welcome to <span class="text-gradient">ISOLATED</span></h1>

  <h2 class="text-2xl">Isolated State Counters</h2>
  <div class="gric-cols-1 my-8 grid gap-4 md:grid-cols-2">
    <div>
      <h3 class="text-xl">AstroCounter</h3>
      <IndependentAstroCounter />
    </div>
    <div>
      <h3 class="text-xl">SvelteCounter</h3>
      <IndependentSvelteCounter client:idle />
    </div>
    <div>
      <h3 class="text-xl">ReactCounter</h3>
      <IndependentReactCounter client:idle />
    </div>
    <div>
      <h3 class="text-xl">IndependentVueCounter</h3>
      <IndependentVueCounter client:load />
    </div>
  </div>
  <h2 class="text-xl">Isolated State Forms</h2>
  <div class="my-8 grid grid-cols-1 gap-4 md:grid-cols-2">
    <div>
      <h3 class="text-xl">IndependentAstroForm</h3>
      <IndependentAstroForm />
    </div>
    <div>
      <h3 class="text-xl">IndependentSvelteForm</h3>
      <IndependentSvelteForm client:idle />
    </div>
    <div>
      <h3 class="text-xl">IndependentReactForm</h3>
      <IndependentReactForm client:idle />
    </div>
    <div>
      <h3 class="text-xl">IndependentVueForm</h3>
      <IndependentVueForm client:load />
    </div>
  </div>
</Layout>
